<%- include('header') %>

  <div class="col-span-5 lg:col-span-4 rounded-xl overflow-y-scroll p-2 sm:p-4 lg:p-5 xl:p-9"
    style="background: #dfdff773;">
    <div>
      <div class="grid grid-cols-1 sm:grid-cols-4  mb-5 lg:mb-10 px-2 mt-3">
        <div class="text-center sm:text-left col-span-3 my-auto mb-3 sm:mb-0">
          <h2 class="text-2xl font-medium lg:text-3xl lg:font-semibold">User Query</h2>
        </div>
        <div class="text-center sm:text-right my-auto" >

          <button  class="addbtnstyle" id="downloadBtn">Download CSV</button>
        </div>
      </div>

      <div>
        <div class="p-5 bg-white rounded-xl">
          <table class="table-fixed lg:w-full montabel" id="datatablemain">
            <thead>
              <tr>
                <th style="word-break: break-word">Name</th>
                <th style="word-break: break-word">Email</th>
                <th style="word-break: break-word">Phone Number</th>
                <th style="word-break: break-word">Message</th>
                <th style="word-break: break-word">Type</th>
                <th style="word-break: break-word">Date</th>
                <th style="word-break: break-word">Action</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((data)=>{ %>
                <tr>
                  <td style="word-break: break-word"><%- data.name %></td>
                  <td style="word-break: break-word"><%- data.email %></td>
                  <td style="word-break: break-word"><%- data.phoneNumber %></td>
                  <td style="word-break: break-word"><%- data.message %></td>
                  <td style="word-break: break-word"><%- data.type %></td>
                  <td style="word-break: break-word">
                    <% d=new Date(data.createdAt); hover=d.getHours()> 12 ? d.getHours() - 12 :
                      d.getHours();
                      countdate = d.getDate()+'-'+(d.getMonth() +
                      1)+'-'+d.getFullYear();
                      %>
                      <%- countdate %>
                  </td>
                  <td> <a class="p-2 cursor-pointer" onclick="deletemodel({id:'<%- data.id %>'})"><i
                        class="fa-solid fa-trash" style="color: #e9562a;"></i></a></td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>

        <!-- delete model -->
        <div class="absolute inset-0 backdrop-blur-xl rounded-xl p-3 lg:p-10 grid overflow-scroll hidden"
          id="deleteCategoryModel" style="background: #b5b8c570;">
          <div class="bg-white w-6/6 lg:w-4/12 m-auto rounded-2xl relative">
            <div>

              <div class="grid grid-cols-4 p-4 lg:p-6" style="border-bottom: 5px solid #cfd1e0;">
                <div class="col-span-3">
                  <div class="text-base lg:text-xl font-semibold">Delete User Queries </div>
                </div>
                <div class="text-right my-auto"><i class="fa-solid fa-xmark   lg:text-lg cursor-pointer"
                    onclick="deleteCategoryremove()"></i></div>
              </div>
              <div class="p-4 lg:p-6">
                <div class="mb-1 lg:mb-3">
                  <div class="text-sm lg:text-base font-medium mb-1 text-center">Are you sure User Queries delete?</div>
                </div>
              </div>
              <div class="  text-center" style="margin-bottom: 15px">
                <a style="background-color: #cb4545" id="deleteurl" href=""
                  class="px-4 py-2 text-white rounded-lg tracking-wider formsubmit font-medium cursor-pointer">Delete</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Delete and add model -->
  <script>
    function newaddapplication() {
      const classgetmodul = document.getElementById('newaddapplication');
      classgetmodul.classList.remove("hidden");
    }

    function newaddapplicationremove() {
      const classgetmodul = document.getElementById('newaddapplication');
      classgetmodul.classList.add("hidden");
    }

    function deletemodel(data) {
      document.getElementById("deleteurl").href = `/admin/user-queries/${data.id}/delete`;

      const classgetmodul = document.getElementById('deleteCategoryModel');
      classgetmodul.classList.remove("hidden");
    }
    function deleteCategoryremove() {
      const classgetmodul = document.getElementById('deleteCategoryModel');
      classgetmodul.classList.add("hidden");
    }
  </script>

<script>
  document.getElementById('downloadBtn').addEventListener('click', async () => {
      try {
          const tableName = 'user_queries';
          if (!tableName) return;
          const response = await fetch(`/download/${tableName}`);
          
          const a = document.createElement('a');
          a.href = `https://admin.solarvipani.com/csv/${tableName}.csv`;
          a.download = `${tableName}.csv`;
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
          document.body.removeChild(a);
      } catch (error) {
          // console.error('Error:', error);
      }
  });
</script>

  <%- include('footer') %>